:root{
    box-sizing: border-box;
}
#cssmenu {
    background: red;
    width: auto;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;

}
#cssmenu ul li a:hover {
    color: #333333;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}

#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}
h1{
    text-align: center;
}
.negrin{
    background-color: black;
}
table{
    border:none;
    border-collapse: collapse;
    margin: auto;
}
tr{
    border: 5px;
}
figure{
    padding: 0.15em auto;
}

td{
    width:  5.5em;
    height: 5.5em;
    border: 5px ;
    margin: 0;
    padding: 0.25em;
}
td:hover {
    background-color: rgba(255,0,0,0.5);
}

td:hover p{
    visibility: visible;
}

.black{
    background-color: black;
}

p{
    visibility: hidden;
    text-align: center;
}

#credenciales{
    visibility: visible;
}

h1{
    color: chocolate;
    font-family: sans-serif;
    font-size: 3em;
}
.info{
    visibility: visible;
}
.myTable:hover{
    background-color: white;
    margin:initial;
}